/*
//////////////////////////////SIDE BAR
*/
.sidenav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  z-index: 0;
  transition: 0.5s;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  z-index: 1033;
  transition: all 1s ease;
}

/*
//////////////////////////////NOW
*/
#now {
  width:70%;
  height: 90%;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  overflow: auto;
  position: relative;
  margin: 0 auto;
  padding-top: 5rem;
}

.now-section {
    padding: 2rem 2rem;
}

/*
//////////////////////////////MAP
*/

#app {
  width: 30%;
  height: 100%;
}

#travel_map {
 height: 100%;
 width: 100%;
}

#location_map {
 height: 100%;
 width: 100%;
 z-index: 3;
}

.now {
  cursor: pointer;
  color: #FFF;
}

/*
////////////////////////////// LEAFLET
*/

.leaflet-control-scale-line {
  border: 0px solid #777; */
}


.leaflet-right {
  font-size: 1rem;
  text-decoration: none;
  display: none;

}


/*
//////////////////////////////NAV BAR
*/

.logo {
  stroke: rgba(0, 0, 0, 0.8);
}

.logo-white {
  stroke: rgba(255, 255, 255, 0.8);
}


 g {
  stroke: #64a19d;
}

 .navbar-dark g {
  stroke: rgba(255, 255, 255, 0.8);
}

 .navbar-light g {
  stroke: rgba(0, 0, 0, 0.8);
}

.navbar-shrink g {
  stroke: rgba(0, 0, 0, 0.8);
}
 /* Nav bar   */
 .navbar-dark .navbar-nav .nav-link  {
  color: rgba(255, 255, 255, 0.5);
  }
 .navbar-light .navbar-nav .nav-link  {
  color: rgba(0, 0, 0, 0.8);
  }

 .dark {
  color: rgba(255, 255, 255, 0.7);
 }

 .light {
  color: rgba(0, 0, 0, 0.9);
 }

#logo-svg {
  width: 35px;
  height: auto;
}

#path_r {
  stroke-dasharray: 1416px;
  stroke-dashoffset: 1416px;
  animation: line-anim 2s ease forwards;
}


#path_b {
  stroke-dasharray: 2279px;
  stroke-dashoffset: 2279px;
  animation: line-anim 2s ease forwards;
}


@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

/*
//////////////////////////////MAIN SECTION
*/


.home {
  height: 60vh;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.row {
justify-content: space-between;
}


.container-left  {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.container-right {
  margin: 2rem 0;

}

.master-letter {
  display: block;
  position: relative;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 0.2rem;
  float:left;
  clear: both;

}


#main {
  transition: margin-left .5s;
  padding: 16px;
}


.intro {
  display: block;
  font-size: 1.1rem;
  border-radius: 5px;
  text-align: justify;
}

 .light .hightlight{
  background-color: rgba(255, 255, 255, 0.3);
}

.dark .hightlight  {
  background-color: rgba(0, 0, 0, 0.3);
}

.home-btn {

}


.hide {
  display: none;
  overflow: visible;
}


.light.fab {
  color: #000;
}


.dark .fab {
  color: #FFF;
}


.leaflet-container {  /* all maps */
    width:  100%;
    height:  100%;
}

#specialbigmap {
    height: 100%;
}

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
    width: 100%;
}

/*
//////////////////////////////  ABOUT
*/

.about-title {
  position: relative;
  background-color: #000;
  padding-top: 0;
  height: 80vh;
  padding: 5rem 5rem;
}

.about-title h1 {
  position: absolute;
  bottom: -3rem;
  font-size:
}


.about-section {
  position: relative;
  padding-top: 5rem;
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.about_intro {
  height: 80vh;
  display: flex-end;
  align-items: center;
}

.about-body  {
  font-size: 1.2rem;
  padding: 5rem 0;
}

.about-body ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 40px;
  width: 50px;
  }

.ab-right  {

}

.ab-left {

}

.about-intro>p {
  width: 30vw;
}

.about-intro {
  display: flex;
  flex-wrap: wrap;
}

.about-intro img{
  /*
  margin: 4rem 2rem;
  position: relative;
  left: 25vw;
  float: right;
  clear: both;
  padding-bottom: 3rem;
*/

}

.field-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14vw;
  position: relative;
  top: -4rem;
  left: 0vw;
  background-color: grey;
  border-radius: 50%;
  width: 18vw;
  height: 18vw;


}

.field h1 {
  position: relative;
  top: 0rem;
  left: 5vw;
  font-size: 8vw;
  color: red;

}


.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}


.leading {
  font-size: 10vw;
}



.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}


@media screen and (min-width: 769px) {
  .container-left {
    margin: 2rem 1rem 2rem 1rem;
    padding: 0 6rem 0 0;
  }
}


@media screen and (max-width: 769px) {
  g {
      stroke: rgba(0, 0, 0, 0.8) !important;
  }

  .navbar-light g {
      stroke: rgba(0, 0, 0, 0.8);
  }
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-width: 429px) {

  .home {
    height: 80vh;
    padding: 0 2rem;
  }

  #main{
   margin-top: 6rem;
   padding: 0;
  }
  .row {
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container-left {
    margin: 1rem 1rem;
    padding: 0 3rem;
  }

  g {
      stroke: rgba(0, 0, 0, 0.8) !important;
  }
}

