{% extends 'index.html' %}
{% load static %}

{% block content %}
  <!-- About Section -->
  <section id="about" class="{{ mode }}" >
    <header class="about-header ">
      <h1 class="leading">life as a <br>continuous <br>challenge </h1>
    </header>

    <section class="about-body black">
      <div class="about-intro" >
        <div>
          <p class="note black background">
            Going from architecture to sofware developpement have been a big shit. although i knew since my first year in architecture scholol that it was the right thing to do. having a vision in life is very important as well as working you ass of to make it happen. <br><br>
              Going from architecture to sofware developpement have been a big shit. although i knew since my first year in architecture scholol that it was the right thing to do. having a vision in life is very important as well as working you ass of to make it happen.

              <br><br>
              Going from architecture to sofware developpement have been a big shit. although i knew since my first year in architecture scholol that it was the right thing to do. having a vision in life is very important as well as working you ass of to make it happen.
               Going from architecture to sofware developpement have been a big shit. although i knew since my first year in architecture scholol that it was the right thing to do. having a vision in life is very important as well as working you ass of to make it happen.
          </p>
          <img class = "about-profile" src=" {% static 'img/about-profile2.jpg' %} ">
        </div>

        <div>
          <div class="float-box"></div>
          <p class="note left">
            {% lorem 200 w random %}
          </p>
        </div>

      </div>
    </section>

    <section class="about-field white">
      <header class="leading-field">
          <h1 class="field">Software <br>Ingineer</h1>
      </header>
      <div class="about-field-info">
          <div>
            <h2>Experiences</h2>
            <p class="note white">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a
              type specimen book.

              {% lorem 50 w random %}
            </p>
          </div>

          <div>
            <h2>Tools</h2>
            <ul>
              <li><i class="fab {{ mode }} fa-github"></i></li>
              <li><i class="fab {{ mode }} fa-github"></i></li>
              <li><i class="fab {{ mode }} fa-github"></i></li>
              <li><i class="fab {{ mode }} fa-github"></i></li>
            </ul>
          </div>
          <div>
            <h2>Projects</h2>
            <ul>
              <li>projetct</li>
              <li>projetct</li>
              <li>projetct</li>
              <li>projetct</li>
            </ul>
          </div>
          <button class="hire">Hire me</button>


      </div>


    </section>


    <section class="about-field white">
      <header class="leading-field2">
          <h1 class="field">Graphic <br> Designer</h1>
      </header>
      <div class="about-field-info">
        <p>
          Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a
          type specimen book.
        </p>

        <ul>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
        </ul>
      </div>
      <button class="hire">Hire me</button>

    </section>


    <section class="about-field white">
      <header class="leading-field3">
          <h1 class="field">Architect /<br> Designer</h1>
      </header>
      <div class="about-field-info">
        <p>
          Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a
          type specimen book.
        </p>

        <ul>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
        </ul>
      </div>
      <button class="hire">Hire me</button>

    </section>

    <section class="about-field white">
      <header class="leading-field4">
          <h1 class="field">Web <br> Entrpreneur</h1>
      </header>
      <div class="about-field-info">
        <p>
          Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a
          type specimen book.
        </p>

        <ul>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
          <li><i class="fab {{ mode }} fa-github"></i></li>
        </ul>
      </div>
      <button class="hire">Hire me</button>

    </section>

  </section>

{% endblock %}


