{% extends 'index.html' %}
{% load static %}

{% block content %}
  <!-- About Section -->
  <section id="about" class="{{ mode }}" >
    <header class="about-header ">
      <h1 class="leading">life as a <br>continuous <br>challenge </h1>
    </header>

    <section class="about-body black">
      <div class="about-intro" >
        <p>
          Going from architecture to sofware developpement have been a big shit. although i knew since my first year in architecture scholol that it was the right thing to do. having a vision in life is very important as well as working you ass of to make it happen. <br><br>
           {% lorem 120 w random %}
        </p>

        <img class = "" src=" {% static 'img/about-profile2.jpg' %} ">
        <p class="about-intro note left">
           {% lorem 200 w random %}
        </p>
      </div>
    </section>

    <section class="about-body white">
      <div class="">
        <div class="">
         <div>
          <span class="field-number">1</span>
          </div>
          <div><h1>Software Ingineer</h1></div>

          <div class="">
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a
              type specimen book.
            </p>

            <ul>
              <li><i class="fab {{ mode }} fa-github"></i></li>
              <li><i class="fab {{ mode }} fa-github"></i></li>
              <li><i class="fab {{ mode }} fa-github"></i></li>
              <li><i class="fab {{ mode }} fa-github"></i></li>
            </ul>
          </div>
          <button class="hire">Hire me</button>
        </div>
      </div>
    </section>

  </section>

{% endblock %}


