{% extends 'index.html' %}
{% load static %}

{% block content %}
  <!-- Header -->
  <section class="masthead contact-section">
    <div class="container d-flex h-100 align-items-center ">
      <div class="mx-auto text-center">
        <h3 class="mx-auto my-0 text-uppercase">Romain BOBOE</h3>
        <p>
          Solving problems and inspiring people is what i do. I'm passionnate about tree things: technology, architecture and nature. Oh did i mentioned that i like good food? yeah we all do. <br/>
          i design, i code, i built, i write and i'm still learning new stuffs.
          </p>
        <img src="">
        <div class = "social d-flex justify-content-center" >
            <a class="mx-2" href="https://github.com/marcusbey" target="_blank"><i class="fab fa-github"></i>
            <a class="mx-2" href="https://medium.com/@rboboe" target="_blank"><i class="fab fa-medium"></i>
            <a class="mx-2" href="https://www.linkedin.com/in/romainboboe/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a class="mx-2" href="https://www.twitter.com/romainbey" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="https://www.instagram.com/bey.marcus/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class=" d-flex">
          <a href="{% url 'now'%}" class="btn btn-primary js-scroll-trigger">Now</a>
        </div>


      </div>

    </div>

  </section>
{% endblock %}
class="mx-2"
