{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personal Website">
  <meta name="author" content="Romain BOBOE">

  <title>{{ title }}</title>

  <!-- Favicon -->
  <link rel='icon' href="{% static 'img/favicon/favicon.ico' %}" type='image/x-icon'/ >
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

  <!-- Bootstrap core CSS -->
  <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href=" {% static 'css/grayscale.css' %}" rel="stylesheet">
  <link href=" {% static 'css/main.css' %}" rel="stylesheet">


</head>
<body id="page-top">

{% include 'navbar.html'%}

{% block content %} {% endblock %}

  <!-- Scroll magic  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js" integrity="sha512-A98SmLRZISk4eIxQBeCm8k0jAcwN3A3lBx4hr7baoMpV1VpxcxlZIhi5fJIZN50sQ5RlCzx8yV+Voy2cR6x0aA==" crossorigin="anonymous"></script>

  <!-- gsap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/CSSRulePlugin.min.js" integrity="sha512-G/DslVCv+cnQaVTGKHAvIbe9YSmz+OTTU3v6nBIMHG4IckIB54qlr228DvtPhw8UYS3ye5lWMtTeGX/Ezk8QdA==" crossorigin="anonymous"></script>
  <!-- vanilla -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-modal/1.6.5/index.min.js" integrity="sha512-sK4qyWeGm10tV6RXhhR3zboMTJKeAw8KYW14ARp6s9Nmqbro/X5lkL8grCOkMUgTwM8ChesiK6iM7vm8QC7jMg==" crossorigin="anonymous"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/grayscale.min.js' %}"></script>

  <!-- Main Jscode-->
  <script src="{% static 'js/app.js' %}"></script>


</body>

</html>

